.myclass{
    background-color: rgb(84, 25, 112);
    color:cornsilk;
}



ul li{
    margin: 15px;
    font-size: 25px;

}
.navbar-brand{
    margin: 10px;
    font-size: 20px;

}
.active{
    background-color: black;
}
